*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: auto;
}



#check {
    display: none;
}

body{
    background-color: rgb(255, 255, 255);
    zoom: 90%;
}

/*HEADER*/

header{
    display: flex;
    width: 100%;
    background-color: rgba(0,3,70,255);
    position: relative;
  
    text-align: center;
    justify-content: center;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

header .icon{
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
    color: white;
    display: flex;
    padding: 0;
}

header .icon a{
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

header .icon #cuentaPedido{
    margin-left: 10px;
    background-color: rgba(254,0,5,255);
    border-radius: 50%;
    padding: 5px;
    font-size: 80%;
}

header .icon span{
    flex: 1;
    margin: auto;
}

header .icon img{
    width: 110px;
    height: 80px;
}

header .icon{
    margin-left: 10px;
}

header .search-container{
    display: flex;
    margin: auto 0;
    height: 40px;
    line-height: 35px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-right: 40px;
}

header .search-container input{
    border: 2.5px solid black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    font-size: 20px;
    width: auto;
}

header .search-container span{
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    margin: auto;
    z-index: 1;
    margin-right: 30px;
}


header .icon #bars{
    display: none;
}

header .icon #times{
    display: none;
}

header .bar span{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

header button{
    background-color: white;
    width: 80px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}


@media screen and (max-width: 1350px) {
    header{
        display: block;
        align-items: center;
        width: 100%;
    }   
    header .icon{
        display: grid;
        grid-template-columns: 10% 50% 20% 10%;
        font-size: 8vw;
        font-weight: 800;
        cursor: pointer;
        color: white;
        span:3;
    }

    header .icon > a {
        width: 90%;
        height: 90%;
        font-size: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 4;
        margin-left: 0px;
    }

    header .icon >a #cuentaPedido{
        width: 30%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 4;
        margin-left: 5px;
    }

    header .icon img{
        width: 90%;
        height: 90%;
    }

    header .icon #bars{
        display:block;
        width: 20px;
        font-size: 70%;
    }

    
header .search-container span{
    font-size: 180%;
    }

    header .search-container{
        width: 95%;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        margin: auto;
        margin-left: 30px;
        margin: 10px;
    }

    header .search-container span{
        margin-left: 5px;
    }

    header .search-container input{
        width: 90%;
    }

    header button{
        background-color: transparent;
        border: none;
        font-size: 30%;
    }
}

.principalContainer{
    padding-top: 20px;
    margin: 10px auto;
}

.principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    background-color: #e03a3a;;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
}

.principal h4{
    padding-top: 20px;
    color: rgb(218, 212, 212);
}

/*Estado Pedido*/

.cuadroContainer{
    padding-top: 50px;
}

.registrado{
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ruta{
    transition: background-color 0.3s ease, color 0.3s ease;
}

.entregado{
    transition: background-color 0.3s ease, color 0.3s ease;
}

.registrado:hover {
    background-color: #0d52af;
    color: rgb(255, 255, 255); 
}

.ruta:hover {
    background-color: #0d52af;
    color: rgb(255, 255, 255); 
}

.entregado:hover {
    background-color: #0d52af;
    color: rgb(255, 255, 255); 
}



.estado{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}


.estado h2{
    font-size: 2.5rem;
}

.estado p{
    font-size: 2rem;
    font-weight: bold;
    padding: 2px 20px;
    padding-top: 20px;
}

.estado img{
    width: 17rem;
    height: 17rem;
}

.ruta img{
    height: 19rem;
}

.historialContainer {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blanco{
    background-color: white;
    height: 40px;
}

.historialContainer .titulo {
    font-size: 3rem;
    text-align: center;
    background-color: #e03a3a;
    color: white;
    width: 100%;
}

.historial {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    width: 100%;
    max-width: 1600px;
    border: 15px solid #e03a3a;
}

.primeraFila, .nuevasFilas {
    display: contents;
    border: 15px solid #e03a3a;
}

.primeraFila{
    border: 15px solid #e03a3a;
}

.codigoHistorial, .fecha, .precio, .estadoHistorial {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.primeraFila h2{
    font-size: 2rem;
}