* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    margin: auto;
}

#check {
    display: none;
}

body {
    background-color: rgb(255, 255, 255);
    zoom: 90%;
}

/* HEADER */

header {
    display: flex;
    width: 100%;
    background-color: rgba(0, 3, 70, 255);
    position: relative;
    justify-content: space-between;
    text-align: center;
    border-bottom: 10px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .icon {
    font-size: 40px;
    font-weight: 800;
    cursor: pointer;
    color: white;
    display: flex;
    padding: 0;
}

header .icon a {
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

header .icon #cuentaPedido {
    margin-left: 10px;
    background-color: rgba(254, 0, 5, 255);
    border-radius: 50%;
    padding: 5px;
    font-size: 80%;
}

header .icon span {
    flex: 1;
    margin: auto;
}

header .icon img {
    width: 110px;
    height: 80px;
}

header .icon {
    margin-left: 10px;
}

header .search-container {
    display: flex;
    margin: auto 0;
    height: 40px;
    line-height: 35px;
}

header .search-container input {
    border: 2.5px solid black;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 0 5px;
    font-size: 20px;
    width: auto;
}

header .search-container span {
    color: rgb(255, 255, 255);
    font-size: 20px;
    height: 100%;
    padding: 8px;
    position: relative;
    cursor: pointer;
    margin: auto;
    z-index: 1;
    margin-right: 30px;
}

header .icon #bars {
    display: none;
}

header .icon #times {
    display: none;
}

header .bar span {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 35px;
}

header button {
    background-color: transparent;
    border: none;
    font-size: 90%;
    cursor: pointer;
    text-align: center;
}

.nuevoProducto {
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}

/* Agregar Producto */

#formContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.formContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

@media screen and (max-width: 1350px) {
    header {
        display: block;
        align-items: center;
        width: 100%;
    }
    header .icon {
        display: grid;
        grid-template-columns: 10% 50% 20% 10%;
        font-size: 8vw;
        font-weight: 800;
        cursor: pointer;
        color: white;
        span: 3;
    }

    header .icon > a {
        width: 90%;
        height: 90%;
        font-size: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 4;
        margin-left: 0px;
    }

    header .icon > a #cuentaPedido {
        width: 30%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 4;
        margin-left: 5px;
    }

    header .icon img {
        width: 90%;
        height: 90%;
    }

    header .icon #bars {
        display: block;
        width: 20px;
        font-size: 70%;
    }

    header .search-container span {
        font-size: 180%;
    }

    header .search-container {
        width: 95%;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        margin: auto;
        margin-left: 30px;
        margin: 10px;
    }

    header .search-container span {
        margin-left: 5px;
    }

    header .search-container input {
        width: 90%;
    }

    header button {
        background-color: transparent;
        border: none;
        font-size: 30%;
    }
}

/* NAV */

nav {
    width: 90%;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    border-radius: 25px;
    margin-top: 20px;
}

nav .foods {
    display: flex;
    justify-content: center;
}

.foods ol {
    display: flex;
    list-style: none;
    margin: auto;
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
    color: black;
}

.foods ol li {
    padding: 10px;
    text-decoration: none;
    margin: 5px;
    transition: 0.8s;
}

.foods ol li img {
    display: block;
    margin: auto;
}

.foods ol li span {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foods ol img {
    width: 40px;
    height: 40px;
    color: rgba(0, 3, 70, 255);
}

.foods ol li:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15%;
    transition: ease-in;
}

@media screen and (max-width: 1350px) {
    .foods ol li span {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 22px;
    }

    .foods ol img {
        width: 60px;
        height: 60px;
    }
}

/* SECTION */

section {
    height: auto;
}

#targetContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

#targetContainer .tarjetaProducto img{
    width: 100%;
    height: 45%;
    border-radius: 25px;
    min-width: 450px;
    max-width: 250px;
}

#targetContainer .tarjetaProducto {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

#targetContainer .tarjetaProducto .price {
    font-size: 35px;
    color: rgb(0, 0, 0);
}

#targetContainer .tarjetaProducto button{
    margin-bottom: 60px;
    margin-top: 10px;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    background-color: rgba(254, 0, 5, 255);
    color: white;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    transition: 200ms;
    right: 10;
    transform: translatex(250%);
}

#targetContainer .tarjetaProducto .edit-btn{
    width: 250px;
    height: 50px;
    border-radius: 15px;
    background-color: rgba(254, 0, 5, 255);
    color: white;
    font-size: 25px;
    font-weight: 700;
}

#targetContainer .tarjetaProducto button:hover {
    translate: 0 -3px;
}

@media screen and (max-width: 485px) {
    #targetContainer .tarjetaProducto {
        width: 90%;
        height: 30%;
        margin: 10px auto;
        font-size: 13px;
        font-weight: 1800;
    }

    #targetContainer .tarjetaProducto img {
        width: 80%;
        height: 50%;
        border-radius: 25px;
        max-width: none;
        min-width: unset;
    }

    #targetContainer .tarjetaProducto button {
        width: 60%;
    }
}

/* FOOTER */

footer {
    background-color: rgba(0, 3, 70, 255);
    color: white;
    height: auto;
    margin-top: 50px;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
}

footer .nuevaTienda,
footer .nuevoProducto {
    background-color: red;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 25px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

/* Formulario Agregar Producto */

.formContent {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: solid thin #0c53b3;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

.formContent h2 {
    color: #f83f40;
}

.formContent label {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    padding: 0;
    margin: 10px;
    text-align: center;
}

.formContent input{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #333;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
}

.formContent input:focus {
    outline: none;
}

.formContent button {
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: #f83f40;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
