@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins',sans-serif;
    margin: 0; 
    padding: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/fondoucv.jpg');
    background-position: center;
    background-size: cover;
}

.formulario img{
    width: 150px;
}

.formulario{
    margin: 100px;
    border: solid thin red;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.5); 
    width: 500px;
    height: 650px;
    text-align: center;
    font-size: 20px;
}

.formulario h1{
    margin-top: -20px ;
    font-size: 30px;
    color: #f83f40;
    margin-bottom: 20px;
}
.form{
    margin: 30px 70px 0px 70px;
}
#nombre-label,
#apellido-label,
#fecha-label,
#email-label,
#contraseña-label {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: #fff;
    padding: 0 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

#nombre-label input,
#apellido-label input,
#fecha-label input,
#email-label input,
#contraseña-label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

#nombre-label i,
#apellido-label i,
#fecha-label i,
#email-label i,
#contraseña-label i {
    color: #a7a7a7;
}

.form input[type="submit"] {
    background-color: #f83f40;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px ;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input[type="submit"]:hover {
    background-color: #a7a7a9;
}
.gender-label {
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-bottom: 10px;
    color: #000000;
}

.form .gender-label input[type="radio"] {
    margin-right: 5px;
}

.gender-title {
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
}

/* Responsive*/

/* Estilos base */
*{
    font-family: 'poppins',sans-serif;
    margin: 0; 
    padding: 0;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 768px) {
    .formulario {
        width: 500px;
        margin: 100px;
    }

    .form {
        margin: 30px 70px 0px 70px;
    }

    #nombre-label,
    #apellido-label,
    #fecha-label,
    #email-label,
    #contraseña-label {
        padding: 0 10px;
    }

    .form input[type="submit"] {
        padding: 10px;
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .formulario {
        width: 90%;
        margin: 50px auto;
    }

    .form {
        margin: 30px;
    }

    #nombre-label,
    #apellido-label,
    #fecha-label,
    #email-label,
    #contraseña-label {
        padding: 0 5px;
    }

    .form input[type="submit"] {
        padding: 10px;
    }
}
