@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'poppins',sans-serif;
    margin: 0; 
    padding: 0;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/fondoucv.jpg');
    background-position: center;
    background-size: cover;
}

.formulario img{
    width: 150px;
}

.formulario{
    margin: 100px;
    border: solid thin red;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.5); 
    width: 500px;
    height: 750px;
    text-align: center;
    font-size: 20px;
}

.formulario h1{
    margin-top: -20px ;
    font-size: 30px;
    color: #f83f40;
    margin-bottom: 20px;
}

.form div:focus-within > label,#gender-title:focus {
    border: 2px solid rgb(13,83,178);
}

.form{
    margin: 30px 70px 0px 70px;
}
#nombre-label,
#apellido-label,
#fecha-label,
#email-label,
#contraseña-label,
#telefono-label,
#usuario-label,
#gender-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    background-color: #fff;
    padding: 0 5px;
    transition: border-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

#nombre-label input,
#apellido-label input,
#fecha-label input,
#email-label input,
#contraseña-label input,
#telefono-label input,
#usuario-label input,
#gender-title{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

#gender-title{
    width: 103%;
}

#nombre-label i,
#apellido-label i,
#fecha-label i,
#email-label i,
#contraseña-label i,
#telefono-label i,
#usuario-label i,
#gender.title i {
    color: #a7a7a7;
}

.form input[type="submit"] {
    background-color: #f83f40;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px ;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    width: 60%;
}

.form input[type="submit"]:hover {
    background-color: #a7a7a9;
}
.gender-title {
    display: flex;
    font-size: 14px;
    align-items: center;
    margin-bottom: 10px;
    color: #000000;
    border: none;
}

/* Responsive*/

/* Estilos base */
*{
    font-family: 'poppins',sans-serif;
    margin: 0; 
    padding: 0;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 768px) {
    .formulario {
        width: 500px;
        margin: 100px;
        height: 140%;
    }

    .form {
        margin: 30px 70px 0px 70px;
    }

    .form input[type="submit"] {
        padding: 10px;
    }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .formulario {
        width: 90%;
        margin: 50px auto;
        height: 120%;
    }

    .form {
        margin: 30px;
    }

    #nombre-label,
    #apellido-label,
    #fecha-label,
    #email-label,
    #contraseña-label {
        padding: 0 5px;
    }

    .form input[type="submit"] {
        padding: 10px;
    }
}

.error-message{
    padding: 0;
    margin: 0   ;
}

.input-error {
    border-color: #dc3545; /* Rojo */
}

.input-success {
    border-color: #28a745; /* Verde */
}

.formulario .form .error-message {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
}

